<div class="container" >
<h2> Sign Up </h2>
<!--  first name, last name, email address, and phone number. It should also ask the user to specify the menu number that's their favorite dish. (The menu number is the short_name attribute of each menu item). -->

     <fieldset>
      
      <form name='regForm' novalidate>
  <!-- <div class="input-group">
         <span class="input-group-addon" id="basic-addon1">@</span>
 
       </div>
 -->

       
           
            <input id="signup" type="text" name="firstname" placeholder="Pick a first name"
          ng-model="reg.user.firstname"
          required
          minlength="1"
          ng-maxlength="20">
          
          <span
            ng-if="(regForm.firstname.$error.minlength || regForm.firstname.$error.required) && regForm.firstname.$touched">
            First name must be at least 1 characters long
          </span>
          <span ng-if="regForm.firstname.$error.maxlength && regForm.firstname.$touched">
            First name must not be longer than 20 characters
          </span>
          <br>

 
       
       
        <input id="signup" type="text" name="lastname" placeholder="Pick a last name"
          ng-model="reg.user.lastname"
          required
          minlength="1"
          ng-maxlength="20">
       
          <span
            ng-if="(regForm.lastname.$error.minlength || regForm.lastname.$error.required) && regForm.lastname.$touched">
            Last name must be at least 1 characters long
          </span>
          <span ng-if="regForm.lastname.$error.maxlength && regForm.lastname.$touched">
            Last name must not be longer than 20 characters
          </span>
          <br>

     <input id="signup" type="email" name="email" placeholder="Email"
          ng-model="reg.user.email"
          required>
          <span ng-if="regForm.email.$invalid && regForm.email.$touched">
            Must be a valid email address: handle@domain format
          </span>
          <br>

       

        <input id="signup" type="text" name="phone" placeholder="Phone ###-###-####"
          ng-model="reg.user.phone"
          pattern="(\d{3})-(\d{3})-(\d{4})">
          <span ng-if="regForm.phone.$invalid && regForm.phone.$touched">
            Phone must be in the format ###-###-####.
          </span>
          <br>

        <input id="signup" type="text" name="sn" placeholder="Pick your favorite menu item"
          ng-model="reg.user.sn"
          required
          minlength="1"
          ng-maxlength="4"
          checksn>
          
          <span
            ng-if="(regForm.sn.$error.minlength || regForm.sn.$error.required) && regForm.sn.$touched">
            Menu item must be at least 1 characters long
          </span>
          <!-- <span ng-if="reg.err"> No such menu number exists </span> -->
          <span ng-if="regForm.sn.$error.maxlength && regForm.sn.$touched">
            Menu item must not be longer than 4 characters
          </span>
          <span ng-if="regForm.sn.$invalid && regForm.sn.$touched"">No such menu number exists</span>
          <br>



        <button type="button" class="btn btn-default"
          ng-disabled="regForm.$invalid"
          ng-click="reg.submit()">Submit</button>

          <!-- <div style="margin-top: 10px;">
            Form valid? {{ regForm.$valid }}
          </div> -->
          <span ng-if="reg.completed"> Your information has been saved. </span>

      </form>
    </fieldset>
  
</div>
